<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.sifeizai.dao.ArticleMapper">
    <resultMap id="myMap" type="top.sifeizai.pojo.Article">
        <id column="id" property="id"></id>
        <result column="img" property="img"></result>
        <result column="describes" property="describes"></result>
        <result column="contents" property="contents"></result>
        <result column="authors" property="authors"></result>
        <result column="time" property="time"></result>
        <result column="count" property="count"></result>
        <result column="state" property="state"></result>
        <result column="recommend" property="recommend"></result>
        <result column="title" property="title"></result>
    </resultMap>
    <select id="findAll" resultMap="myMap">
        select * from tb_article
    </select>
    <select id="findById" resultMap="myMap" parameterType="Integer">
        select * from tb_article where id = #{id}
    </select>
    <select id="count" resultType="Integer">
        select count(*) from tb_article
    </select>
    <select id="findPageBystate" resultMap="myMap">
        select * from tb_article where state = "1"
    </select>
    <select id="findByRecommend" resultMap="myMap">
        select * from tb_article where state = "1" and recommend = "1"
    </select>
    <select id="findByCount" resultMap="myMap" parameterType="Integer">
        select * from tb_article where state = "1" and count > #{count}
    </select>
    <select id="findRandomById" resultMap="myMap">
        select * from tb_article  where id order by rand() limit 5;
    </select>
</mapper>